@import "/src/styles/breakpoints.scss";
.item {
  a {
    background: none;
    &:hover, &:active {
      transition: 0.5s;
      .item__title {
        color: #767676;
        //text-shadow: 2px 2px 0 #777777, 2px -2px 0 #777777, -2px 2px 0 #777777, -2px -2px 0 #777777, 2px 0px 0 #777777, 0px 2px 0 #777777, -2px 0px 0 #777777, 0px -2px 0 #777777;
        transition: 0.1s;
      }
      .item__details {
        color: #767676;
        font-weight: 700;
        //text-shadow: 2px 4px 11px #000000;
        transition: 0.1s;
      }
    }
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: auto auto 30%;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    .item__image__desktop {
      display: none;
    }
    .item__image__mobile {
      display: block;
    }
    .item__title{
      justify-self: center;
      font-family: 'Barlow', sans-serif;
      text-align: center;
      font-weight: 700;
      color: rgb(33,33,33);
      font-size: .7rem;
      padding: 0.3rem;
      @media screen and (min-width: map-get($grid-breakpoints,xs)) {
        font-size: .9rem;
        padding: 0.5rem;
      }
      @media screen and (min-width: map-get($grid-breakpoints,md)) {
        font-size: 1.2rem;
      }
    }
    .item__descricao {
      display: grid;
      justify-content: center;
    }
    .item__details {
      justify-self: center;
      font-family: 'Barlow', sans-serif;
      text-align: center;
      font-weight: 400;
      color: rgb(33,33,33);
      font-size: .8rem;
      padding-bottom: 0.5rem;
      @media screen and (min-width: map-get($grid-breakpoints,md)) {
        font-size: 1rem;
      }
    }
    @media screen and (min-width: map-get($grid-breakpoints,xl)){
      .item__image__mobile {
        display: none;
      }
      .item__image__desktop {
        display: block;
      }
      padding: 0;
      grid-template-columns: 236px;
      grid-column-gap: .5rem;
    }

  }
}