.item {
  a {
    background: none;
    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    //box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -10px, rgba(0, 0, 0, 0.3) 0px 15px 30px -15px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .5rem;
    display: grid;
    grid-template-rows: auto auto 15% 15%;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    .item__image__desktop {
      display: none;
    }
    .item__image__mobile {
      display: block;
    }
    .item__title{
      font-family: 'Barlow', sans-serif;
      font-weight: 700;
      color: rgb(25,25,25);
      font-size: 1.2rem;
      padding: 0.5rem;
    }
    .item__descricao {
      font-family: 'Barlow', sans-serif;
      font-weight: 400;
      color: rgb(25,25,25);
      font-size: .8rem;
      padding: 0.5rem;
    }
    @media screen and (min-width: 1024px){
      .item__image__mobile {
        display: none;
      }
      .item__image__desktop {
        display: block;
      }
      max-width: 350px;
    }

  }
}