@import "/src/styles/breakpoints";
.itens {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.5rem;
  justify-content: center;
  @media screen and (min-width: map-get($grid-breakpoints,xl)){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem
  }
  @media screen and (min-width: map-get($grid-breakpoints,xxl)){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem
  }
}