@import "/src/styles/breakpoints";

.page {
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    //@media screen and (min-width: map-get($grid-breakpoints, sm)){
    //  max-width: map-get($container-max-widths, sm);
    //}
    //@media screen and (min-width: map-get($grid-breakpoints, md)){
    //  max-width: map-get($container-max-widths, md);
    //}
    //@media screen and (min-width: map-get($grid-breakpoints, lg)){
    //  max-width: map-get($container-max-widths, lg);
    //}
    //@media screen and (min-width: map-get($grid-breakpoints, xl)){
    //  max-width: map-get($container-max-widths, xl);
    //}
    //@media screen and (min-width: map-get($grid-breakpoints, xxl)){
    //  max-width: map-get($container-max-widths, xxl);
    //}
  }
  &__title {
    color: rgb(27, 27, 27);
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    margin: 1rem;
  }
  &__spacer {
    flex: 1;
  }
}
