@import "/src/styles/breakpoints.scss";
.item {
    background: none;
    @media screen and (min-width: map-get($grid-breakpoints,lg)) {
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: .5rem;
      font-size: 1rem;
    }
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    max-height: 600px;
    &__image__desktop {
      display: none;
    }
    &__image__mobile {
      display: block;
      margin: 0 auto;
    }
    &__descricao {
      &__title {
        justify-self: center;
        font-family: 'Barlow', sans-serif;
        text-align: center;
        font-weight: 700;
        color: rgb(33,33,33);
        font-size: 1.1rem;
        padding: 0.3rem;
        @media screen and (min-width: map-get($grid-breakpoints,xs)) {
          font-size: 1.5rem;
          padding: 0.5rem;
        }
        @media screen and (min-width: map-get($grid-breakpoints,md)) {
          font-size: 2rem;
        }
      }
      display: grid;
      justify-content: center;
      &__links {
        display: flex;
        justify-content: space-evenly;
      }
      &__link {
        text-align: center;
        text-decoration: underline;
      }
      &__details {
        justify-self: center;
        font-family: 'Barlow', sans-serif;
        text-align: justify;
        font-weight: 400;
        color: rgb(33,33,33);
        font-size: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        @media screen and (min-width: map-get($grid-breakpoints,md)) {
          font-size: 1.2rem;
        }
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints,xl)){
      .item__image__desktop {
        display: block;
      }
      padding: 0;
      //grid-template-columns: 236px;
      //grid-column-gap: .5rem;
    }
}
