.home {
  background: rgb(2,0,36);
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 2.2rem;
    text-align: center;
    margin: 1rem;
  }
  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--movies {
      background: rgb(54,70,70);
      background: linear-gradient(180deg, rgba(54,70,70,1) 0%, rgba(199,199,201,1) 22%, rgba(198,199,201,1) 44%, rgba(196,199,202,1) 70%, rgba(0,212,255,1) 86%);
    }
    &--series {
      background: rgb(0,212,255);
      background: linear-gradient(180deg, rgba(0,212,255,1) 11%, rgba(199,199,201,1) 22%, rgba(198,199,201,1) 44%, rgba(196,199,202,1) 70%, rgba(0,212,255,1) 91%);
    }
    &--people {
      background: rgb(0,212,255);
      background: linear-gradient(180deg, rgba(0,212,255,1) 11%, rgba(199,199,201,1) 22%, rgba(198,199,201,1) 44%, rgba(196,199,202,1) 70%, rgba(0,212,255,1) 91%);
    }
    &__title {
      color: rgb(105, 95, 95);
      font-size: 1.5rem;
    }
    &__itens {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (min-width: 600px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @media screen and (min-width: 481px){
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .5rem
      }
      @media screen and (min-width: 769px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: .5rem
      }
    }
    &__item {
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      &__image__desktop {
        display: none;
      }
      &__image__mobile {
        display: block;
      }
      @media screen and (min-width: 481px){
        max-width: 120px;
        &__image__mobile {
          display: none;
        }
        &__image__desktop {
          display: block;
        }
      }
      @media screen and (min-width: 769px){
        max-width: 350px;
      }
      &__title{
        color: rgb(1,2,3);
        font-size: 1.2rem;
        padding: 0.5rem;
      }
      &__descricao{
        color: rgb(1,2,3);
        font-size: .8rem;
        padding: 0.5rem;
      }
    }
  }
}